/*--------------------------------------
BUSINESS WIDGET
---------------------------------------*/
.business_card_widget_content {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 20px 18px 20px 18px;
    margin:-12px;
    background-color: #00BCD4;
    color: #fff;
    text-align: center;
}
.business_card_widget_content.nomargin {
    margin: -56px -12px;
    border-radius: 10px;
}
.business_card_widget_content .business_card_widget_inner {
    display: flex;
    flex-wrap: wrap;
}
.business_card_widget_content .business_card_widget_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 30px;
}
.business_card_widget_content .card-picture {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.39);
}
.business_card_widget_content .card-company {
    display:block;
    position:relative;
    font-size:36px;
    height:36px;
    font-weight:200;
}
.business_card_widget_content .card-firstname {
    display:inline-block;
    position:relative;
    font-size:18px;
    font-weight:400;
    margin:5px 0 0;
}
.business_card_widget_content a.card-icon {
    width:20px;
    height:20px;
    font-size:20px;
    color:inherit;
    margin-right:10px;
}
/*--------------------------------------
FLATTY CUSTOM FOOTER
---------------------------------------*/
.flatty-custom-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 200px);
    font-size: 100%;
    margin-left: 160px;
    margin-right: 60px;
    z-index: 9;
}
.flatty-custom-footer-item {
    display: flex;
    position: relative;
    font-size:100%;
    color: #aaa;
    margin-left:20px;
}
.flatty-custom-footer-item i {
    margin-right:8px;
}
/*--------------------------------------
LAPTOP
---------------------------------------*/
@media only screen and (max-width: 1280px) {
  .flatty-custom-footer {
    margin-right:20px;
  }
}
/*--------------------------------------
TABLET
---------------------------------------*/
@media only screen and (max-width: 960px) {
    .flatty-site-name {
        padding: 1rem;
        font-size: 30px;
    }

}
/*--------------------------------------
MOBILE
---------------------------------------*/
@media only screen and (max-width: 782px) {
    .flatty-top-bar-logo {
        display: none;
    }
    .flatty-top-bar-logo img {
        display: block;
        height:40px;
        margin:auto;
    }
    .flatty-top-bar {
        display: none;
    }
    .flatty-top-bar a {
        padding: 15px 20px;
    }
    .flatty-site-name {
        display: none;
    }
    .flatty-custom-footer {
      display: none;
    }
}
