/*--------------------------------------
FLATTY TOP BAR
---------------------------------------*/
body {
    padding-top:70px!important;
}
body.flatty_tall_bar {
    padding-top:180px!important;
}
body.flatty_tall_bar.update-php {
    padding-top:0!important;
}
.flatty-top-bar {
    position:fixed!important;
    background-color: #333;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 782px) {
	body.flatty_tall_bar {
	    padding-top:0!important;
	}
    body {
        padding-top:0!important;
    }
}